@model DevSharp.TestWeb.Models.AllTestsModel
@{
    ViewBag.Title = "Test";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    @foreach (var test in @Model.Tests)
    {
        <li>@(Html.ActionLink(test.DisplayName, "Test", new { test = test.Id }))</li>
    }
</ul>

